@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f45a5a;
  color: whitesmoke;
  flex: 1;
  gap: 2rem;
}

header img{
  width: 30px;
  aspect-ratio: auto;
}
header p{
  font-size: 1.2rem;
  font-weight: 400;
}
main{
  margin: 5rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem 0;
  flex: 1 1;
}


.card-image {
  width: 25rem;
  object-fit: cover;
  height: 25rem;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}

.card-header{
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 1rem;
}

.card-header h3{
  text-transform: uppercase;
  letter-spacing: 0.5rem;
font-size: 1.4rem;
}
.card-header a{
  color: rgb(151, 148, 148);
  font-size: 0.7rem;
}
.card-header a:hover{
  color:rgb(106, 105, 105);
}
.card-body{
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;


}
.card-body h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.card-body h2{
  font-size: 1.5rem;
}
.card-body p{
  color: rgb(130, 130, 130);
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.2rem;
}
@media screen and (max-width: 1200px){
  main{
    flex-wrap: wrap;
    margin: 3rem 2rem;
  }

 .cards {
   gap: 1rem;
    margin: 1rem 0;
  }

 .card-image {
   width: 60%;
   height: 20rem;
  }

 .card-header h3 {
   font-size: 1rem;
  }

 .card-header a {
   font-size: 0.8rem;
  }

 .card-body h1 {
   font-size: 1.6rem;
  }

 .card-body h2 {
   font-size: 1rem;
  }

 .card-body p {
   font-size: 0.8rem;
 }
}
@media screen and (max-width: 768px) {
  main {
    margin: 2rem 3rem;
    flex-wrap: wrap;
  }

  .cards {
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  .card-image {
    width: 100%;
    height: 15rem;
  }

  .card-header h3 {
    font-size: 1.2rem;
  }

  .card-header a {
    font-size: 0.6rem;
  }

  .card-body h1 {
    font-size: 1.8rem;
  }

  .card-body h2 {
    font-size: 1.2rem;
  }

  .card-body p {
    font-size: 0.8rem;
  }
}
